<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tbxx.wpct.mapper.SysRoleMapper">


    <insert id="addRoleAndPerm" >
        insert into sys_role_permission (role_id, permission_id)
        values
        <foreach collection="permsList" item="item" index="index" separator=",">
            (#{roleId}, #{item})
        </foreach>
    </insert>

    <delete id="deleteRoleAndPerm"  parameterType="java.lang.Integer">
        DELETE r.*,rp.*
        FROM  sys_role r
        LEFT JOIN sys_role_permission rp ON r.id = rp.role_id
        WHERE r.id= #{ID}
    </delete>

    <



</mapper>